@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");

:root {
  --white: #ffffff;
  --orange: #fb9400;

  --gray-50: #f9f9fb;
  --gray-900: #1b1b1b;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
}
